/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.otf');
}

/* NORMALIZE */
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-bg-color: #FFFBF4;
    --text-color: #414042;
    --main-color: #69C29E;
    --base-font: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    color: var(--text-color);
    font-family: var(--base-font);
}

img {
    width: 100%;
}

ul,
ol {
    list-style-type: none;
}

h1 {
    font-weight: unset;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Signature Styles */
main {
    display: flex;
    flex-direction: column;
    padding: 10rem 9%;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content h2 {
    font-size: 2.5em;
}