/* GOOGLE FONTS */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.otf');
}

/* NORMALIZE */
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Utile-Regular', sans-serif;
}

:root {
    --primary-bg-color: #FFFBF4;
    --text-color: #414042;
    --main-color: #69C29E;
    --base-font: 'Montserrat-Regular', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    color: var(--text-color);
    font-family: var(--base-font);
}

img {
    width: 100%;
}

ul,
ol {
    list-style-type: none;
}

h1 {
    font-weight: unset;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Signature Styles */
main {
    display: flex;
    flex-direction: column;
    padding: 10rem 9%;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content h2 {
    font-size: 2.5em;
}

.content .signature__vertical {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 200px;
}

.signature__vertical .vertical__wrap {
    width: 100%;
}

.signature__vertical .vertical__row {
    display: flex;
    height: 100%;
}

.signature__vertical .vertical__social {
    display: flex;
}

.vertical__social .social__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 .6rem;
    background-color: #EB5055;
}

.social__list .social__item .social__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: #EB5055;
    padding: 3px;
    border-radius: 50%;
}

.signature__vertical .vertical__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: #FFFBF4;
}

.vertical__content .content__logo {
    width: 120px;
    height: 100%;
}

.vertical__content .content__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content__text .text__title {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 4em;
    font-weight: bold;
}

.content__text .text__subtitle {
    font-family: var(--base-font);
    font-size: 1.2em;
    font-weight: 400;
}

.content__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.6em;
    width: 100%;
    height: 100%;
}

.content__footer .footer__email {
    font-size: 1em;
    font-weight: 400;
}

.content__footer .footer__url {
    font-size: 1em;
    font-weight: 400;
}

.footer__url span {
    color: #EB5055;
    font-weight: 500;
}

.signature__vertical .vertical__image {
    height: 200px;
    overflow: hidden;
}